<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <title>About us</title>
  </head>

    <div class="w3-sand w3-grayscale w3-large">
      <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
          <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT US</span></h5>
          <p>Baking Mad is the trusted destination for bakers of all levels to learn, be inspired, and share their enthusiasm for baking with those they love. Home to the best recipes, content, tips and tools; we bring baking to life in everything we do, so you can do the same in your own home.
            We want to create, educate and inspire you to become the best baker you can be, so we never show you a cake without helping you make it, reveal a product without a recipe, or recommend anything that doesn’t make you and your baking better. </p>
          <div class="w3-panel w3-leftbar w3-light-grey">
            <p><i>“Real cooking is more about following your heart than following recipes.”</i></p>
          </div>
          <img src='../../assets/aboutus.jpeg' style="width:100%;max-width:1000px" class="w3-margin-top">
          <p><strong>We work</strong> everyday from 9am to 9pm.</p>
          <p><strong>Address:</strong> Kazakhstan, Almaty city, Sultan Beibarys 12</p>
        </div>
      </div>
    </div>

<app-footer></app-footer>
