.navigation-bar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #28B672;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   	
}

.navigation-option {
	float: left;
	
}

.navigation-option a {
	display: block;
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	text-align: center;
	font-family: Trebuchet MS;
}

.navigation-option a:hover {
	background-color: #111;
}

.content {
	font-family: Trebuchet MS;
  	padding: 20px 0px 20px 0px;
  	margin-top: 30px;
}
